.products-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 1.3rem 1.3rem;
    background-color: cornsilk;
    border-radius: 16px;
}

@media (min-width: 640px) {
    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .products-grid {
        grid-template-columns: repeat(3,)
    }
}

